html {
    scroll-behavior: smooth;
  }

body {
    height: 100%;
    width: max-content;
    background-color: black;
}

/* Splash Page */

.kobeBryantSplash {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display-4 {
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    color: rgb(75, 5, 142);
    text-align: center;
}

.lead {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(255, 215, 0);
    text-align: center;
}

hr {
    border: 0.5px solid rgb(75, 5, 142);
}

#enterButton {
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(75, 5, 142);
    color: rgb(255, 215, 0);
    border-radius: 5px;
    border-style:solid;
    border-width:2px;
    border-color: rgb(255, 215, 0);
    padding: 5px;
}

#enterButton:hover {
    color: rgb(75, 5, 142);
    background-color: rgb(255, 215, 0);
}


/* About Page */

h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgb(255, 215, 0);
    text-align: center;
    text-shadow: 2px 2px 15px rgb(75, 5, 142), 0px 0px 20px white;
    margin-top: 30px;
}

hr {
    margin-left: 20px;
}

.kobeBio {
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    text-align: justify;
    line-height: 1.75;
    margin-left: 20px;
}

.kobeAbout {
    float: right;
    height: 100%;
    width: 100%;
}

.bioFooter {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(255, 215, 0);
    text-align: left;
    margin-left: 20px;
}

/* Statics Page */

.kobeScore2 {
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 30px;
}

.nbaRank {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    line-height: 1.75;
}

.kobeScore {
    border-radius: 30px;
    margin-top: 30px;
}

/* Highlight Page */

.kobeDefense {
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 30px;
}