html {
    scroll-behavior: smooth;
  }

body {
    height: 100%;
    width: max-content;
    background-color: black;
}

.kobeBryantSplash {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display-4 {
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    color: rgb(75, 5, 142);
    text-align: center;
}

.lead {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(255, 215, 0);
    text-align: center;
}

.kobeScore2 {
    border-radius: 30px;
}

h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgb(255, 215, 0);
    text-align: center;
    text-shadow: 2px 2px 15px rgb(75, 5, 142), 0px 0px 20px white;
}

hr {
    border: 0.5px solid rgb(75, 5, 142);
}

.nbaRank {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    line-height: 1.75;
}

.kobeBio {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    text-align: justify;
    line-height: 1.75;
}

.bioFooter {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(255, 215, 0);
    text-align: left;
}

.kobeAbout {
    float: right;
    height: 100%;
    width: 100%;
}